.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
}

.header-btn {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f8f9fa;
    border: 1px solid #e0e0e0;
    cursor: pointer;
}

.header-btn:hover {
    background-color: #e9ecef;
}

.hearder-input {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;

    margin-right: 10px;
}